.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  text-align: center;
}

.dark {
  background-color: black;
  color: white;
  min-height: 100vh;
  text-align: center;
}

button.active {
  background-color: #0077cc;
  color: white;
}
